<!DOCTYPE html>
<html lang="es" data-theme="light">
  <head>
    {% include head.html %}
  </head>
  <body>
    <header class="site-header" role="banner">
      <!-- HEADER -->
      {% include header.html %}
      <!-- /HEADER -->
    </header>

    <main class="page-content" aria-label="Content">
      <div class="container">
        <blockquote>
          ¿Sabías que Python tiene un
          <a href="https://www.linkedin.com/in/desire-m-carmona/"
            >modo antigravedad</a
          >?
        </blockquote>
        <article class="about">
          <h1>¡Hola, mundo! 👋🏻</h1>
          <hr />
          <p>
            Soy
            <a href="https://www.linkedin.com/in/desire-m-carmona/">Desiré</a>,
            la creadora de este blog.
          </p>
          <p>
            Aparte de una aficionada a los RPG, Dragones y Mazmorras y Final
            Fantasy, también estoy enamorada de Python y todo lo que se puede
            conseguir con un lenguaje tan flexible y elegante.
            <br /><br />
            En este blog comparto trucos y conocimiento sobre Python e
            informática general de la mano de Dragones y Mazmorras, ¡aunque no
            es necesario que sepas sobre DnD para aprovechar los recursos del
            blog!
            <br /><br />
            Sólo espero que disfrutes y lo pases bien leyendo, además de
            aprender algo nuevo (¡o mejorar algo que ya conocías!)
            <br /><br />
            Nos leemos por aquí, <br />
            Desiré 🤗
          </p>
        </article>
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
