<!DOCTYPE html>
<html lang="es" data-theme="light">
  <head>
    {% include head.html %}
  </head>
  <body>
    <header class="site-header" role="banner">
      <!-- HEADER -->
      {% include header.html %}
      <!-- /HEADER -->
    </header>

    <main class="page-content" aria-label="Content">

          <div class="container">

            <article>

              <p>
                <hgroup>
                    <h2 class="pico-color-indigo-650">{{ page.title }}</h2>
                    <br>
                    <p>
                      {{ page.sum }}
                    </p>
                    <hr>

                    {% for tag in page.tags %}

                    <span
                        class="tag {{ tag | slugify }}"
                        style="background-color: {{ site.data.tag_colors[tag] }};"
                      >
                        <a href="/tags/{{ tag | slugify }}/">#{{ tag }}</a>
                      </span>
                    {% unless forloop.last %}
                    {% endunless %}
                    {% endfor %}
                </hgroup>
              </p>

            </article>

            <article class="post_info">
              <!-- CONTENT -->
              {{content}}
              <!-- /CONTENT -->
            </article>
          </div>
    </main>

    {% include footer.html %}
  </body>
</html>
